<div class="row">
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <ul class="footer-nav">
      <li>
        <a href="#about">About Us</a>
      </li>
      <li>
        <a href="#service">Service</a>
      </li>
      <li>
        <a href="#team">Team</a>
      </li>
      <li>
        <a href="#contact">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <ul class="social-links">
      <li>
        <a href="https://www.facebook.com/UltraSportsIndia/"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/ultrasportsin"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/ultrasportsindia/"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/ultrasportsindia"
          ><i class="fa fa-linkedin"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="copyright">
      Copyright &copy; 2020 by USI SPORTS SOLUTIONS PVT LTD - All Rights Reserved.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="developer">Developed & Designed by <strong>SHUBHAM MORE</strong></p>
  </div>
</div>
