<div class="row">
  <div class="col-12">
    <h2>About</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-10 col-12 mx-auto">
    <div class="about about-content js--animate-about">
      <p class="content">
        Ultra Sports India (USI) started out in 2017 with an aim of developing
        football ecosystem in India. USI has been at the forefront of football
        development and a market leader with its football schools and coach
        education programs, creating a community around football. One of the
        fastest growing Sports Management company in India, USI with properties
        like Football Forward has introduced global coach education programs to
        India, and revolutionized the same.
        <br />
        USI’s Soccer Schools have been Thane’s biggest soccer school program in
        terms of student participation.
      </p>
    </div>
  </div>
</div>
