<div class="row">
  <div class="col-12">
    <h2>Service</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <div class="service">
      <h4>Thane City Football Club</h4>
      <p class="content">
        Thane City FC is a club based in the city of Thane. Started in 2018,
        TCFC aims to be one of the first pro-teams from the city to play at the
        national level. The TCFC Soccer Schools train more than 400 children in
        Thane.
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <div class="service">
      <h4>Football Forward</h4>
      <p class="content">
        Football Forward is a Coach-Education program where industry experts
        from around the world come to interact with coaches and have
        knowledge-sharing workshops to empower Indian coaches.
      </p>
    </div>
  </div>
</div>
