<div class="row">
  <div class="col-12">
    <h2>Contact Us</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <div class="contact">
      <div class="map" id="map"></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <div class="contact">
      <div class="text-center mt-2">
        <a
          class="whatsapp-btn"
          href="https://api.whatsapp.com/send?phone=918108555525&text=&source=&data="
          ><i class="fa fa-whatsapp"></i>&nbsp;&nbsp;Message us on WhatsApp</a
        >
      </div>
      <h4 class="address-heading">ULTRA SPORTS INDIA PVT. LTD.</h4>
      <div class="address">
        <div class="row">
          <div class="col-1">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="col-11">
            <p class="content">
              Ultra Sports India, 105, First Floor, Regal Plaza, West, Lok Puram, Vasant Vihar,
              Thane West, Thane - 400 610, Maharashtra, India
            </p>
          </div>
        </div>
      </div>
      <div class="mail">
        <div class="row">
          <div class="col-1">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="col-11">
            <p class="content">
              <a href="mailto:example@gmail.com">ultrasportsinsia@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="phone">
        <div class="row">
          <div class="col-1">
            <i class="fa fa-phone"></i>
          </div>
          <div class="col-11">
            <p class="content"><span style="font-size: 75%;">+</span>91 81085 55525</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../../assets/js/map.js"></script>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Ku1ycHq8d8UKt1gutTMFwKQqeTvJEro&callback=initMap"
></script>
