<header id="home">
  <nav id="nav">
    <div class="row">
      <div class="col-12">
        <a class="js--home" href="#home">
          <img class="logo" src="./assets/img/logo.png" alt="USI-LOGO" title="" />
        </a>
        <ul class="main-nav js--main-nav">
          <li><a class="js--nav-link" href="#about">About Us</a></li>
          <li><a class="js--nav-link" href="#service">Service</a></li>
          <li><a class="js--nav-link" href="#team">Our Team</a></li>
          <li><a class="js--nav-link" href="#contact">Contact Us</a></li>
        </ul>
        <a class="mobile-nan-icon js--nav-icon"><i class="fa fa-list"></i></a>
      </div>
    </div>
  </nav>
  <div class="usi-text-box">
    <div class="heading-primary">
      <h1 class="heading-primary-main">Ultra Sports India</h1>
      <h3 class="heading-primary-sub">Cognition. Competence. Character.</h3>
    </div>
    <a class="btn-default heading-contact-btn heading-contact-btn-animated" href="#contact"
      >Contact Us</a
    >
  </div>
</header>

<section class="section-about js--section-about" id="about">
  <app-about></app-about>
</section>

<section class="section-service  js--section-service" id="service">
  <app-service></app-service>
</section>

<section class="section-team js--section-team" id="team">
  <app-team></app-team>
</section>

<section class="section-contact js--section-contact" id="contact">
  <app-contact></app-contact>
</section>

<footer>
  <app-footer></app-footer>
</footer>
