<div class="row">
  <div class="col-md-6 col-sm-10 col-12 mx-auto">
    <h2>Team</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-8 col-10 mx-auto">
    <div class="team-member">
      <div class="card shadow-lg">
        <div class="card-body">
          <div class="team-member-img-container">
            <img
              class="team-member-img shadow"
              src="./assets/img/prashant-singh.jpg"
              alt="Prashant J Singh"
            />
          </div>
          <h4>Prashant J Singh</h4>
          <p class="content">
            An entrepreneur with a good consulting experience, strong technical
            background, and passion to work for the development of sports.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-8 col-10 mx-auto">
    <div class="team-member">
      <div class="card shadow-lg">
        <div class="card-body">
          <div class="team-member-img-container">
            <img
              class="team-member-img shadow"
              src="./assets/img/team.jpg"
              alt="Sathyanathan Hiriyan"
            />
          </div>
          <h4>Sathyanathan Hiriyan</h4>
          <p class="content">
            Ex-Professional football player and a FIFA qualified Grassroots
            coach with more than 20 years of coaching experience in India and
            abroad.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
